name: CI Build

on: [push, pull_request]

jobs:
  ci_build:
    name: CI Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Get git tags
      run: git fetch --tags --unshallow -f

    - name: Run Tests
      run: cargo test && cargo test --features=larger-grid

    - name: Run UHP testsuite
      run: cargo run --features=larger-grid -- --strategy=random uhp-debug target/debug/nokamute --strategy=random

    - name: Check that benchmarks build
      run: cargo build --benches

    - name: Check formatting
      run: cargo fmt -- --check

    - name: Run linter
      run: cargo clippy --version && cargo clippy --no-deps -- -D warnings

    - uses: jetli/wasm-pack-action@v0.4.0
    - uses: jetli/wasm-bindgen-action@v0.2.0
    - run: rustup target add wasm32-unknown-unknown
    - name: Wasm Tests
      run: RUSTFLAGS='--cfg getrandom_backend="wasm_js"' wasm-pack test --firefox --headless

    - name: Build Release
      run: sh ./.github/release.sh

    - name: Upload Linux Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nokamute_linux_amd64.tar.gz
        path: nokamute_linux_amd64.tar.gz
    
    - name: Upload Windows Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nokamute_win64.zip
        path: nokamute_win64.zip

    - name: Upload Wasm Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nokamute_wasm32.zip
        path: nokamute_wasm32.zip
